/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*.iml
/.lein-*
/.nrepl-port
.idea/
.hgignore
.hg/
*.swp
*.log
private.edn
.DS_Store
.#*
\#*
*~
build.xml
*.orig

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.global.yml
.cpcache
