{:deps
 {com.datomic/datomic-pro   {:mvn/version "0.9.5656"}
  org.clojure/tools.cli     {:mvn/version "0.3.6"}
  mvxcvi/puget              {:mvn/version "1.0.2"}

  fipp                      {:mvn/version "0.6.12"}
  funcool/cuerdas           {:mvn/version "2.0.5"}
  io.aviso/pretty           {:mvn/version "0.1.34"}
  com.walmartlabs/lacinia   {:mvn/version "0.25.0"}
  org.clojure/tools.logging {:mvn/version "0.4.0"}
  org.clojure/tools.reader  {:mvn/version "1.2.2"}
  com.walmartlabs/lacinia   {:mvn/version "0.25.0"}}}
