{;; Manual schema for music
 :objects
 {:Artist
  {:description "Artist"
   :fields      {:id     {:type (non-null ID)}
                 :name   {:type (non-null String)}
                 :albums {:type    (list (non-null :Album))
                          ;; This resolver factory tells stillsuit to resolve `albums` using
                          ;; the datomic attribute `:artist/albums`, and to sort the resulting
                          ;; set by the `album/year` attribute of the referred entities
                          :resolve [:stillsuit/ref
                                    #:stillsuit{:attribute    :artist/albums
                                                :lacinia-type :Album
                                                :sort-key     :album/year
                                                :sort-order   :ascending}]}}}
  :Album
  {:description "Album"
   :fields      {:id     {:type (non-null ID)}
                 :name   {:type (non-null String)}
                 :year   {:type (non-null Int)}

                 ;; This reference uses the default resolver, inferring the attribute name
                 ;; :album/tracks from the type and field name.
                 :tracks {:type (list (non-null :Track))}

                 ;; This reference uses an entity filter that only returns the first track.
                 :first  {:type    :Track
                          :resolve [:stillsuit/ref
                                    #:stillsuit{:attribute     :album/tracks
                                                :lacinia-type  :Track
                                                :cardinality   :stillsuit.cardinality/one
                                                :entity-filter :music-filter/first-track}]}

                 ;; This resolver factory tells stillsuit to use the `:artist/_albums`
                 ;; backreference to go from an album to its artist. The `:stillsuit/cardinality`
                 ;; key with value :stillsuit.cardinality/one tells stillsuit to return a single
                 ;; attribute, rather than a List of them. An error will be returned if more than one result is found.
                 :artist {:type    (non-null :Artist)
                          :resolve [:stillsuit/ref
                                    #:stillsuit{:attribute    :artist/_albums
                                                :lacinia-type :Artist
                                                :cardinality  :stillsuit.cardinality/one}]}}}

  :Track
  {:description "Track"
   :fields      {:id       {:type (non-null ID)}
                 :position {:type (non-null Int)}
                 :name     {:type (non-null String)}}}}

 :queries
 {:artist_by_id
  {:type        :Artist
   :description "Get an artist by ID"
   :args        {:id {:type ID}}
   ;; This query uses a function defined in stillsuit.test.resolvers
   :resolve     :query/artist-by-id}
  :album_by_id
  {:type        :Album
   :description "Get an artist by ID"
   :args        {:id {:type ID}}
   ;; This query uses the built-in :stillsuit/resolve-by-unique-id resolver
   :resolve     [:stillsuit/query-by-unique-id
                 #:stillsuit{:attribute    :album/id
                             :lacinia-type :Album}]}
  :all_artists
  {:type        (list (non-null :Artist))
   :description "Get an artist by ID"
   :resolve     :query/all-artists}}}
