;; Defines an entity which contains one of each type of field
;; cf http://docs.datomic.com/schema.html#required-schema-attributes
[[;; Schema
  {:db/ident       :rainbow/id
   :db/valueType   :db.type/long
   :db/cardinality :db.cardinality/one
   :db/unique      :db.unique/identity}
  {:db/ident       :rainbow/one-keyword
   :db/valueType   :db.type/keyword
   :db/cardinality :db.cardinality/one}
  {:db/ident       :rainbow/two-keyword
   :db/valueType   :db.type/keyword
   :db/cardinality :db.cardinality/one}
  {:db/ident       :rainbow/one-string
   :db/valueType   :db.type/string
   :db/cardinality :db.cardinality/one}
  {:db/ident       :rainbow/one-boolean
   :db/valueType   :db.type/boolean
   :db/cardinality :db.cardinality/one}
  {:db/ident       :rainbow/two-boolean
   :db/valueType   :db.type/boolean
   :db/cardinality :db.cardinality/one}
  {:db/ident       :rainbow/one-long
   :db/valueType   :db.type/long
   :db/cardinality :db.cardinality/one}
  {:db/ident       :rainbow/one-bigint
   :db/valueType   :db.type/bigint
   :db/cardinality :db.cardinality/one}
  {:db/ident       :rainbow/one-float
   :db/valueType   :db.type/float
   :db/cardinality :db.cardinality/one}
  {:db/ident       :rainbow/one-double
   :db/valueType   :db.type/double
   :db/cardinality :db.cardinality/one}
  {:db/ident       :rainbow/one-bigdec
   :db/valueType   :db.type/bigdec
   :db/cardinality :db.cardinality/one}
  {:db/ident       :rainbow/one-ref
   :db/valueType   :db.type/ref
   :db/cardinality :db.cardinality/one}
  {:db/ident       :rainbow/one-instant
   :db/valueType   :db.type/instant
   :db/cardinality :db.cardinality/one}
  {:db/ident       :rainbow/two-instant
   :db/valueType   :db.type/instant
   :db/cardinality :db.cardinality/one}
  {:db/ident       :rainbow/one-uuid
   :db/valueType   :db.type/uuid
   :db/cardinality :db.cardinality/one}
  {:db/ident       :rainbow/one-uri
   :db/valueType   :db.type/uri
   :db/cardinality :db.cardinality/one}
  {:db/ident       :rainbow/one-bytes
   :db/valueType   :db.type/bytes
   :db/cardinality :db.cardinality/one}]
 ;; Entities
 ;; No native URI or bytes EDN readers, afaict
 [{:db/id               "one"
   :rainbow/id          111
   :rainbow/one-keyword :my.keyword/value
   :rainbow/two-keyword :my.keyword/value
   :rainbow/one-string  "One string"
   :rainbow/one-boolean true
   :rainbow/one-long    149
   :rainbow/one-bigint  1321N
   :rainbow/one-float   132.45
   :rainbow/one-double  132.45
   :rainbow/one-bigdec  123.45M
   :rainbow/one-instant #inst "2018-01-01T01:01:01Z"
   :rainbow/two-instant #inst "2018-01-01T01:01:01Z"
   :rainbow/one-uuid    #uuid "fcc81e3e-f301-11e7-8a4d-4762cfbddccf"
   :rainbow/one-ref     "two"}
  {:db/id               "two"
   :rainbow/id          222
   :rainbow/one-keyword :my.keyword/value
   :rainbow/two-keyword :my.keyword/value
   :rainbow/one-string  "Two string"
   :rainbow/one-boolean true
   :rainbow/one-long    249
   :rainbow/one-bigint  2321N
   :rainbow/one-float   232.45
   :rainbow/one-double  232.45
   :rainbow/one-bigdec  223.45M
   :rainbow/one-instant #inst "2018-02-02T02:02:02Z"
   :rainbow/two-instant #inst "2018-02-02T02:02:02Z"
   :rainbow/one-uuid    #uuid "796ddd5e-f3b4-11e7-82d5-0747e98878c6"}]]
;:rainbow/one-uri     #java.net.URI["https://clojure.org"]}]]
